<dic class= "conteiner">
  <h2>following</h2>
	<table class="table">
	  <thead>
	  	<tr>
	  		<th>image</th>
	  		<th>name</th>
	  		<th colspan="3"></th>
	  		
	  	</tr>
	  </thead>
	  <tbody>
		<% @users.each do |user| %>
		<tr>
		  <td><%= attachment_image_tag(user, :profile_image, :fill, 70, 70, fallback: "no_image.jpg") %></td>
		  <td><%= user.name %> </td>
		  <td>フォロー数:<%= user.followings.count %></td>
		  <td>フォロワー数:<%= user.followers.count %></td>
		  <td><%= link_to '詳細', user_path(user) %></td>
		</tr>
		<% end %>
	  </tbody>
	</table>
</dic>